<div class="row seperate-line" style="margin-top:3%; height:88px;">
  <div class="col-md-4 offset-md-1" style="align-items:center;">
    <h5 class="logo-border">CUCSAL</h5>
  </div>
  <div class="col-md-6" style="text-align:right;">
    <a href="/dashBoard" class="nav-anchor logo-border show-all-nav">Home</a>
    <a href="/profile" class="nav-anchor logo-border show-all-nav">Profile</a>
    <a href="/logout" class="nav-anchor logo-border show-all-nav">Log out</a>
  </div>

</div>

