<body style="background-color:#ffd600;">
  <div class="container">
    <div class="row central-area">
      <div id="signInSection" class="col-md-6" style="text-align:center;">
        <h3></h3>
        <h5 class="logo-border" style="margin-left:37%;">CUCSAL</h5>
        <h5 style="margin-top:20%">欢迎使用CUCS校友系统!</h5>
        <p class="text-label">Get connected by using our alumni system right now<br/></p>
        
        
        <input id="u" class= "input-box" type="text" placeholder="username or email">

        <input id="p" class= "input-box" type="password" placeholder="password">
        
        <input id="submitButton" class="input-box submit-button" onclick="login()" type="submit">
        <p>First time here? <span  onclick="showSignUp()" style="color:#ffd600;">sign up now!</span></p>
        <h5 class="error-message"></h5>
                
        <p class="text-label" style="margin-top:10%;">All credit to CUCS 2018</p>
      </div>
      <div class="col-md-6 central-image">
        
      </div>
      <div id="signUpSection" class="col-md-6" style="visibility:hidden;">
        <a href="/" style="border-radius:100%;"><img src="https://img.icons8.com/ios/50/000000/left-filled.png"></a>
        
        <div id="signUpForm" class="row" style="padding-left:10%;">
          <input id="chineseName" class="sign-up-form" type="text" placeHolder="中文名">
          <input id="englishName" class="sign-up-form" type="text" placeHolder="英文名">
          <input id="linkedIn" class="sign-up-form" type="text" placeHolder="linkedin">
          
          <input id="wechatId" class="sign-up-form" type="text" placeHolder="微信id">
          <input id="currentCompany" class="sign-up-form" type="text" placeHolder="所在公司">
          <input id="degree" class="sign-up-form" type="text" placeHolder="最高学历">
          <input id="graduateYear" class="sign-up-form" type="text" placeHolder="毕业年份">
          <input id="email" class="sign-up-form" type="email" placeHolder="常用邮箱">
          <input id="password" class="sign-up-form" type="password" placeHolder="密码">
          <input id="CUCSID" class="sign-up-form" type="text" placeHolder="CUCSID">
           <input id="hobby" class="sign-up-form" type="text" placeHolder="爱好">
           <input id="constellation" class="sign-up-form" type="text" placeHolder="星座">
       </div>  
        <div class="row">
          <div class="col-md-6 offset-md-3" style="margin-top:5%;">
            <p>*邮箱将作为登陆用的用户名</p>
            <p id="signUpMSG">Note: 所有空白都需填写.</p>
            <button onClick="signUp()" id="submit">submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    
    function login(){
      $.ajax({
        url:"/login",
        type:"POST",
        data:{
          uname:$("#u").val(),
          pword:$("#p").val(),
        },
        success: result=>{
          $('.error-message').html(result.information);
        },
        error: result=>{
          $('#submitButton').append("<h5 class='error-message'>Check you network connection.</h5>")
        }
      })
    }
    
    function showSignUp(){
      $("#signInSection").hide();
      $("#signUpSection").addClass("slideLeft");
      $("#signUpSection").css('visibility','visible');
    }
    
    function signUp(){
      
      let dataMap = {}
      let empty = []
      let errorMsg = "<h8 class='error-message'>"
      $('#signUpForm').children("input").each(i=>{
        let k = $("#signUpForm").children("input")[i].id;
        let v = $("#signUpForm").children("input")[i].value;
        if(v === null || v === ""){
          empty.push(k);
        }
        
        dataMap[k] = v;
      });
      
      
      empty.forEach(k=>{
        errorMsg += k+" "
      })
      
      if(empty.length!=0){
        $("#signUpMSG").html(errorMsg+" these fields are empty</h8>")
        return;
      }
      
      $.ajax({
        url:"/signUp",
        type:"POST",
        data:dataMap,
        success: result=>{
          if(result.status==4){
            $('#signUpSection').html("<h5 style='margin-top:35%;'>Success! You are all set!</br></h5><a href='/'>Back to Login<img src='https://img.icons8.com/ios/50/000000/left-filled.png'></a> ");
          }
          else if(result.status==3){
            $('#signUpMSG').html("<p>Invalid CUCS ID.</p>");
          }
        },
        error: result=>{
          console.log("server error"); 
        }
      })
    }
  
    companyList = ['amazon','google','facebook','linkedin','microsoft']
     
    $("#currentCompany").autocomplete({source:companyList});
    
    yearList = []
    for(var i=2013;i<2030;i++)
    {
      yearList.push( i.toString())
    }    
    
    $("#graduateYear").autocomplete({source:yearList});

    degreeList = ['high School','bachelor','master','phd','professor','post-doc','高中','本科','研究生','博士生','教授','硕士','博士后']  
    $('#degree').autocomplete({source:degreeList}); 
    
    constellationList = ['天蝎座','狮子座','白羊座','天秤座','摩羯座','水瓶座','金牛座','射手座','双子座','巨蟹座','处女座','双鱼座']
    $("#constellation").autocomplete({source:constellationList}) 
  </script>
</body>
