<body style="background-color:#ffd600;">
  <div class="container">
    <div class="row central-area">
      <div id="signInSection" class="col-md-6" style="text-align:center;">
        <h3></h3>
        <h5 class="logo-border" style="margin-left:37%;">CUCSAL</h5>
        <h5 style="margin-top:20%">欢迎使用CUCS校友系统!</h5>
        <p class="text-label">Get connected by using our alumni system right now<br/></p>
        
        
        <input id="u" class= "input-box" type="text" placeholder="username or email">

        <input id="p" class= "input-box" type="password" placeholder="password">
        
        <input id="submitButton" class="input-box submit-button" onclick="login()" type="submit">
        <p>First time here? <span  onclick="showSignUp()" style="color:#ffd600;">sign up now!</span></p>
        <h5 class="error-message"></h5>
                
        <p class="text-label" style="margin-top:10%;">All credit to CUCS 2018</p>
      </div>
      <div class="col-md-6 central-image">
        
      </div>
      <div id="signUpSection" class="col-md-6" style="visibility:hidden;">
        <a href="/" style="border-radius:100%;"><img src="https://img.icons8.com/ios/50/000000/left-filled.png"></a>
        
        <div id="signUpForm" class="row" style="margin-top:15%; padding-left:10%;">
          <input id="chineseName" class="sign-up-form" type="text" placeHolder="chinese name">
          <input id="englishName" class="sign-up-form" type="text" placeHolder="english name">
          <input id="linkedIn" class="sign-up-form" type="text" placeHolder="linkedIn URL">
          <input id="wechatId" class="sign-up-form" type="text" placeHolder="wechat Id">
          <input id="currentCompany" class="sign-up-form" type="text" placeHolder="company">
          <input id="bornYear" class="sign-up-form" type="text" placeHolder="born Year">
          <input id="email" class="sign-up-form" type="email" placeHolder="email">
          <input id="password" class="sign-up-form" type="password" placeHolder="password">
          <input id="CUCSID" class="sign-up-form" type="text" placeHolder="CUCSID">
        </div>  
        <div class="row">
          <div class="col-md-6 offset-md-3" style="margin-top:5%;">
            <p id="signUpMSG">Note: all field need to be filled.</p>
            <button onClick="signUp()" id="submit">submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    
    function login(){
      $.ajax({
        url:"/login",
        type:"POST",
        data:{
          uname:$("#u").val(),
          pword:$("#p").val(),
        },
        success: result=>{
          $('.error-message').html(result.information);
        },
        error: result=>{
          $('#submitButton').append("<h5 class='error-message'>Check you network connection.</h5>")
        }
      })
    }
    
    function showSignUp(){
      $("#signInSection").hide();
      $("#signUpSection").addClass("slideLeft");
      $("#signUpSection").css('visibility','visible');
    }
    
    function signUp(){
      
      let dataMap = {}
      let empty = []
      let errorMsg = "<h8 class='error-message'>"
      $('#signUpForm').children("input").each(i=>{
        let k = $("#signUpForm").children("input")[i].id;
        let v = $("#signUpForm").children("input")[i].value;
        if(v === null || v === ""){
          empty.push(k);
        }
        
        dataMap[k] = v;
      });
      
      
      empty.forEach(k=>{
        errorMsg += k+" "
      })
      
      if(empty.length!=0){
        $("#signUpMSG").html(errorMsg+" these fields are empty</h8>")
        return;
      }
      
      $.ajax({
        url:"/signUp",
        type:"POST",
        data:dataMap,
        success: result=>{
          if(result.status==4){
            $('#signUpSection').html("<h5 style='margin-top:35%;'>Success! You are all set!</br></h5><a href='/'>Back to Login<img src='https://img.icons8.com/ios/50/000000/left-filled.png'></a> ");
          }
          else if(result.status==3){
            $('#signUpMSG').html("<p>Invalid CUCS ID.</p>");
          }
        },
        error: result=>{
          console.log("server error"); 
        }
      })
    }
    
    
  </script>
</body>